.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;
  }
}

.app__navbar-links {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background-color: transparent;
      border-radius: 50%;
    }

    a {
      color: var(--gray-color);
      flex-direction: column;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      transition: color 0.5s, border-bottom 0.3s ease-in-out;

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--secondary-color);
        transition: width 0.5s;
      }

      &:hover {
        color: var(--secondary-color);

        &:after {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-mobile {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.app__navbar-mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  background: url('../../assets/bgWhite.png');
  background-color: var(--white-color);
  background-size: cover;
  background-repeat: repeat;

  box-shadow: 0 0 20px rgba(168, 168, 168, 0.3);

  svg {
    width: 35px;
    height: 35px;
    color: var(--secondary-color);
    margin: 0 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      margin: 2rem 1rem;
      cursor: pointer;

      svg {
        height: 25px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--gray-color);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        transition: color 0.5s, border-bottom 0.3s ease-in-out;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
