:root {
  --font-base: 'DM Sans', sans-serif;
  --secondary-color: #313bac;
  --button-hover: #242b7c;
}

.theme-light {
  --primary-color: #edf2f8;
  --text-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --bg-color: #fff;
  --card-bg-color: rgba(255, 255, 255, 0.6);
  --shadow: #ddd;
  --input-color: rgba(228, 228, 228, 0.404);
  --navbar-color: rgba(255, 255, 255, 0.8);
  --navbar-border: rgba(255, 255, 255, 0.18);
  --icon-color: #171515;
}

.theme-dark {
  --primary-color: #26262777;
  --text-color: #fff;
  --lightGray-color: #2d2647;
  --gray-color: #9ca3af;
  --brown-color: #46364a;
  --bg-color: rgba(21, 29, 41);
  --card-bg-color: rgba(15, 20, 31, 0.74);
  --shadow: rgba(18, 18, 29, 0.397);
  --input-color: rgb(22, 31, 44);
  --navbar-color: rgba(21, 29, 41, 0.8);
  --navbar-border: rgba(54, 54, 54, 0.2);
  --icon-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  transition-property: color, background-color, border, box-shadow;
  transition-duration: 0.3s;
}
